.banner{
	display: block;
	width: 100%;
	height: 200px;
	background: #1b4d86;
	padding:  0px 20px;
	position: relative;
	z-index: 10;
}

.banner .logo{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 20px;
	left: 40px;
	width: 160px;
	height: 160px;
	padding: 20px;
	overflow: hidden;
}

.banner .logo img{
	display: block;
	width: 100%;
}

.banner h1{
	display: block;
	color: #fff;
	text-align: center;
	line-height: 200px;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}


.navbar-primary{
	margin-bottom: 3rem;
}

.aside-module{
	background: #1b4d86;
	padding: 1rem;
}

.aside-module h4{
	color: #fff;
}

.aside-module .list-menu{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.aside-module .list-menu a{
	display: block;
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-top: 1px solid rgba(255,255,255,.5);
	color: #fff;
}

.aside-module .list-menu li:first-child a{
	border-top: 0px;
}

.aside-module .list-menu li:last-child a{
	border-bottom: 0px;
}

footer{
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f7f7f7;
    border-top: .05rem solid #e5e5e5;
    margin-top: 50px;
}

footer p{
	margin-bottom: 5px;
}

.table-datos th{
	background: #F5F5F5;
}

.codigo-ejemplo, .referencias{
    background: #F5F5F5;
    border: 1px solid #F0F0F0;
    font-family: Consolas,"Liberation Mono","Droid Sans Mono",Monaco,Menlo,"Courier New",Courier,monospace;
    font-size: 14px;
    font-size-adjust: .5;
    margin: 1em 0;
    overflow: auto;
    padding: .5em;
}

.codigo-ejemplo .box{
	background: rgba(0,94,165,0.1);
    border: 2px solid rgba(0,94,165,0.6);
    margin: 5px;
    min-height: 50px;
    padding: 5px;
    width: 300px;
}

.clear{
	clear: both;
}

a.nostyle{
	color:inherit;
	text-decoration:none;
	padding:0;
	margin:0;
}
div.portfoliocard{
	position:relative;
	height:450px;
	width: 80%;
	background:rgba(255,255,255,1);
	border:1px solid rgba(0,0,0,0.7);
	box-shadow:0px -1px 3px rgba(0,0,0,0.1),
				0px 2px 6px rgba(0,0,0,0.5);
	border-radius:6px;
	margin:10px auto;
	overflow:hidden;
	z-index:100;
}
div.portfoliocard div.coverphoto{
	width:100%;
	height:120px;
	background: #005C97;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
				1px 0px 2px rgba(255,255,255,0.7);
	z-index:-1;
	position: relative; 
}

div.portfoliocard div.coverphoto:before{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../img/hexagon.png);
	background-size: 60px 60px;
	z-index: -1;
	opacity: .3;
}

div.portfoliocard div.coverphoto h2{
	display: block;
	color: #fff;
	text-align: center;
	line-height: 120px;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}



div.portfoliocard div.left_col, div.portfoliocard div.right_col{
	float:left;
	height:340px;
}
div.portfoliocard div.left_col{
	width:40%;
	padding-top:85px;
	box-sizing:border-box;
}
div.portfoliocard div.right_col{
	width:60%;
	background:rgba(245,245,245,1);
	border-left:1px solid rgba(230,230,230,1);
	box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
	margin-left:-1px;
	border-bottom-right-radius:5px;
}
div.portfoliocard div.profile_picture{
	width:110px;
	height:110px;
	background:rgba(255,255,255,1);
	position:absolute;
	top:65px;
	left:40px;
	border-radius:100%;
	background-image: url('../img/foto.png');
	background-size:100% 100%;
	padding:7px;
	border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
	font-size:30px;
	font-weight:300;
	color: rgba(30,30,30,1);
	padding:0;
	margin:20px 10px 0px 30px;
}
div.portfoliocard div.right_col h3.location{
	font-size:15px;
	font-weight:300;
	color:rgba(170,170,170,1);
	padding:0;
	margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
	margin-top:20px;
	padding:0px 30px;
	list-style-type:none;
}
div.portfoliocard ul.contact_information li{
	font-weight:300;
	font-size:15px;
	color:rgba(140,140,140,1);
	text-shadow:1px 1px 1px rgba(255,255,255,0.8);
	padding:5px 0px;
	background-repeat:no-repeat;
	background-size:18px 18px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	box-shadow:0px 1px 1px rgba(255,255,255,0.6);
	cursor:default;
}

div.portfoliocard ul.contact_information li span{
	margin-right: 15px;
}

div.portfoliocard div.followers, div.portfoliocard div.following{
	margin:15px 0px 0px 35px;
	font-weight:300;
	font-size:16px;
	color:rgba(30,30,30,1);
}
div.portfoliocard div.follow_count{
	font-weight:400;
	font-size:25px;
	color:rgba(140,140,140,1);
}
